{% extends 'dummy.html' %}

{% block title %}
    <title>forgot_password Page</title>

{% endblock %}



{% block body_block %}
    <H1>forgot_password</H1>
    <form  method="POST"> 
        {% csrf_token %}
        <label for="username">username</label>
        <input type="tel" name="username" id="username"><br>
        <br>
        <label for="Newpassword">Newpassword</label>
        <input type="password" name="np" id="np"><br>

        <input type="submit" value="save" class="btn btn-primary ">
    </form>

{% endblock %}